<div class="container" ng-controller="appliedScholarCtrl as applied">
<div class="row">
  <div class="col-md-2">
    <div class="card" style="max-width: 145px; min-width: 145px;">
      <img  src="images/dane.jpg" alt="Card image" style="width:100%; height: 50%; border: 1px solid whitesmoke;padding: 3px;">
    </div>
  </div>
  <div class="col-lg-10" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <label style="color: #2aabc7;"><i class="fa fa-user-circle"></i>&nbsp;Name</label>
          <h6 class="menu-header" style="color: #2aabc7; margin: 5px 0 20px; padding-left: 5px;">
          Dane Vincent Painaga
          <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#add-subjects" data-backdrop="static" style="line-height: 1.2; padding: .2rem .5rem; font-size: 12px; background-color: #37b4d0; color: white; float: right;" >
            Add Subject
          </button>
        </h6>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-4">
          <label>Subject</label>
          <div class="form-group">
            <select class="form-control" ng-model="applied.selectedSubject" ng-options="subject as subject.subject_name for subject in applied.subjects track by subject.subject_name " ng-change="applied.subjectData()" style="height: 30px;">
            </select>
<!--             <select class="form-control" ng-model="applied.selectedSubject" ng-options="subject.subject_name for subject in applied.subjects track by subject.subject_id " ng-change="applied.subjectData()" style="height: 30px;">
            </select> -->
          </div>
        </div>
        <div class="col-md-3" style="padding-right: 2px;">
          <div class="form-group">
            <label>Highest Grade Value</label>
            <select class="form-control" ng-model="applied.highestGrade" style="height: 30px;">
              <option value="">Select Highest Grade</option>
              <option value="4.0">4.0</option>
              <option value="1.0" >1.0</option>
            </select>
          </div>
        </div>
        <div class="col-md-3" >
          <label>Grade</label>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Grade"  ng-model="applied.grade">
          </div>
        </div>
        <div class="col-md-2"  >
          <div class="form-group">
            <input type="submit" class="btn btn-success" value="ADD" ng-click="applied.addGrades(applied.stud_id, applied.selectedSubject, applied.grade, applied.highestGrade)" style="background-color: #37b4d0; margin-top: 2em; height: 2em; padding-top: 3px;">
          </div>
        </div>
      </div>
</div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12" >
        <ul class="list-group" style="margin-top: 7px;">
          <li class="list-group-item" style="background-color: #e3e9ef;">
          Grades
          </li>
          <li class="list-group-item" style="overflow-x: auto; overflow-y: hidden; padding: 5px;">
              <table class="table table-bordered table-hover table-striped" style="color: #333; font-size: 13px; font-family: Helvetica,Arial,sans-serif;">
                <thead style="color:#f1f1f1; font-family: verdana; background-image: linear-gradient(200deg, #155799bf, #37b4d0);">
                  <tr>
                    <th>Subject</th>
                    <th>Grade</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="addedGrade in applied.added_grade">
                    <td>{{addedGrade.subject}}</td>
                    <td>{{addedGrade.grade}}</td>
                    <td>
                    <button class="btn btn-default btn-sm" ng-click="applied.remove($index)" style="line-height: 1.2; padding: .2rem .5rem; font-size: 12px; background-color: #37b4d0; color: white;" >
                      Remove
                    </button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </li>
        </ul>
    </div>
</div>
<div class="row" style="float: right;">
      <div class="col-lg-12" style="margin-top: 1em; ">
      <button type="button" class="btn btn-success" data-dismiss="modal" style="background-image: linear-gradient(200deg, #155799, #37b4d0); height: 35px;" ng-click="applied.saveGrades()">Save</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal" style="height: 35px;">Close</button>
  </div>
</div>
</div>