<div class="row" style="height: 3em;"></div>
<div class="row" ng-controller="adduserCtrl as adduser">
  <div class="alert alert-success alerts" ng-hide="adduser.loading">
    <span style="text-align: center;"><h2 style="margin-top: 5px; margin-bottom: 5px;"><i class="fa fa-spinner fa-spin" aria-hidden="true" ></i></h2></span>
  </div>
    <div class="col-lg-12" >
      <ul class="nav nav-tabs nav-justified" style="margin-top: 40px;">
      <li class="nav-item" >
        <a class="nav-link active not-active" id="tab-add-user" href="#" style="width:340px;">
          <label style="color: #06799f;"><i class="fa fa-user-plus" style="font-size: 37px;"></i>&nbsp;&nbsp;ADD USERS</label>
        </a>
      </li>
      <li class="nav-item">
        <div class="addclear-btn" style="float: right;">
          <button class="btn btn-success btn-sm" id="add-user-btn" ng-click="adduser.addUser()">ADD</button>
          <button class="btn btn-primary btn-sm" id="clear-input" ng-click="adduser.clear()">CLEAR</button>
        </div>
      </li>
    </ul>
        <ul class="list-group" style="margin-top: 7px;">
          <li class="list-group-item" hide-input style="background-color: #e3e9ef;">
            <i class="fa fa-minus" style="color:red; color: #06799f; font-size: 1.5em; float:right; cursor:pointer;" ng-click="adduser.showInput()">
            </i>
          </li>
          <li class="list-group-item" style="margin-bottom: 10px;" ng-hide="adduser.hides" id="adduser-input">
            <div class="row">
              <div class="col-sm-4"> 
                <form>
                  <div class="form-group">
                    <label class="normal-label">Firstname:</label>
                    <input type="text" class="form-control" id="usr" ng-model="adduser.new.firstname">
                  </div>
                  <div class="form-group">
                    <label class="normal-label">Lastname:</label>
                    <input type="text" class="form-control" id="usr" ng-model="adduser.new.lastname">
                  </div>
                  <div class="form-group">
                    <label class="normal-label">Gender:</label>
                    <br />
                    <label style="font-size: 14px;">Male</label>
                    <input type="radio" class="cursor-pointer" id="rad" name="optradio" ng-model="adduser.new.gender" value="male">&nbsp;
                    <label style="font-size: 14px;">Female</label>
                    <input type="radio" class="cursor-pointer" id="rad" name="optradio" ng-model="adduser.new.gender" value="female">
                  </div>
                </form>    
              </div>
              <div class="col-sm-4" >
                <form>
                  <div class="form-group">
                    <label class="normal-label">Contact number:</label>
                    <input type="text" class="form-control" id="usr" ng-model="adduser.new.contact_no">
                  </div>
                  <div class="form-group">
                    <label class="normal-label">Username:</label>
                    <input type="text" class="form-control" id="usr" ng-model="adduser.new.username">
                  </div>
                  <div class="form-group">
                    <label class="normal-label">Password</label>
                    <input type="text" class="form-control" id="usr" ng-model="adduser.new.password">
                  </div>
                </form>    
              </div>
              <div class="col-sm-4" >
                <form>
                  <div class="form-group col-md-8" style="padding: 0px;">
                    <label class="normal-label">Municipality Assigned:</label><br />
                      <select class="form-control height-30px width-11em" ng-model="adduser.new.selectedMunicipality" ng-options="municipality as municipality.town_name for municipality in adduser.municipalities track by municipality.town_id " >
                      </select>
                  </div>
                  <div class="form-group col-md-8" style="padding: 0px;">
                    <label class="normal-label">Position:</label><br />
                      <select class="form-control height-30px width-11em"  ng-model="adduser.new.selectedPosition" ng-options="position as position.position_level for position in adduser.positions track by position.position_id " >
                      </select>
                  </div>
                  <div class="form-group col-md-8" style="padding: 0px;">
                    <label class="normal-label">Access Type:</label><br />
                      <select class="form-control height-30px width-11em"  ng-model="adduser.new.selectedAccessType" ng-options="accessType as accessType.access_type for accessType in adduser.access_types track by accessType.user_accesses_id " >
                      </select>
                  </div>
                </form>    
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <form> 
              <div class="form-group col-5">
                <label class="normal-label">Search User:</label>
                <input type="text" class="form-control form-control-sm search-icon" ng-model="adduser.search_addeduser" id="search-added" placeholder="Search" style="min-width: 230px; border: 1px solid #abadaf;">
              </div>
            </form>
          </li>
          <li class="list-group-item" style="overflow-y: scroll; height:250px; padding: 7px;
">
              <table class="table table-bordered table-hover table-striped" style="font-size: 13px; color: #333; font-size: 14px; font-family: Helvetica,Arial,sans-serif; ">
                <thead style="color:#f1f1f1; font-family: verdana; background-image: linear-gradient(200deg, #155799bf, #37b4d0);">
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Gender</th>
                    <th>username</th>
                    <th>Address</th>
                    <th>Position</th>
                    <th>User Access</th>
                    <th>status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in adduser.users | filter:adduser.search_addeduser:exactMatch">
                    <td class="min-width-145px">{{user.firstname}}</td>
                    <td class="min-width-145px">{{user.lastname}}</td>
                    <td class="min-width-145px">{{user.gender}}</td>
                    <td class="min-width-145px">{{user.username}}</td>
                    <td class="min-width-145px">{{user.address}}</td>
                    <td class="min-width-145px">{{user.position}}</td>
                    <td class="min-width-145px">{{user.user_access}}</td>
                    <td>
                      <label id="status" color-status stat="{{user.status}}" ng-model="(user.status)" style=" font-family: cooper; text-align: center; border-radius: 10px; margin-bottom: .0rem;  ">{{user.status}}
                      </label>
                    </td>
                    <td style="min-width: 140px; max-width: 100%;">
                      <button class="btn btn-danger btn-sm button-delete" ng-click="adduser.deleteUser(user)" >
                        <i class="fa fa-times delete-icon"></i>
                        <label style="line-height: 0.1; margin-left: 3px; margin-bottom: .1rem;"></label>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </li>
          <li class="list-group-item">
            <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 addclear-btn" >
              <button class="btn btn-success btn-sm" style="width: 48%;" ng-click="adduser.saveUsers()">SAVE</button>
              <button class="btn btn-primary btn-sm" style="width: 48%;" ng-click="adduser.cancel()">CANCEL</button>
            </div>
            </div>
          </li>
        </ul>
    </div>
    <div class="col-lg-12" style="position: relative; top: 18px; font-family: verdana;">
       <ul class="pagination pagination-sm">
        <li>
          <button class="btn btn-success btn-sm button-edit" disabled>
            <i class="fa fa-check" style="margin-left:-5px;"></i> 
          </button>        
          <label>to Edit</label>
          <button class="btn btn-danger btn-sm button-delete" style="margin-left: 15px;" disabled>
            <i class="fa fa-times delete-icon"></i>
            <label style="line-height: 0.1; margin-left: 3px; margin-bottom: .1rem;"></label>
          </button>
          <label>to Delete</label>
        </li>
        </ul>
    </div>
</div>