<div class="container" ng-controller="loginCtrl as login" style="padding-left: 22em;padding-top: 7em;padding-bottom: 14.8em;"> 
    <div class="row">
      <ul class="list-group">
          <li class="list-group-item" style="border-radius: 0px;height: 30px; background-color: #e7eef1;border-left: 2px solid #1da5c3;
    border-right: 2px solid #1da5c3;">
          </li>
          <li class="list-group-item" style="border-radius: 0px; ">
            <h3 class="home-h3">login</h3>
            <div class="row">
              <div class="col-md-12">
                <label class="normal-label">Username:</label>
                <input type="text" class="form-control" ng-model="login.username" >
                <label class="normal-label">Password:</label>
                <input type="text" class="form-control" ng-model="login.password">
                <button class="btn btn-success btn-md max-height-2-2em" style="margin-top: 1em;margin-bottom: .1em;" ng-click="login.loginBtn()">
                  <img src="images/login.png" style="width: 30px; margin-top: -8px;margin-left: -23px;">
                  <label class="login-label">Login</label>
                </button>
              </div>
              <div class="col-md-12">
                <br />
                No account?
                <a href="">Register here</a>
              </div>
            </div>
          </li>
        </ul>
    </div>

  </div>
</div>