<div class="col-md-2 col-lg-2 col-sm-12 pad onprint" ng-hide ="navHide" id="side-nav-large" autoresize=""  style="border-color: #e7e7e7; position: fixed; z-index: 1; top: 50px;  border-right: 2px solid #dadada; min-height: 610px; max-height: 610px;" >
  <ul class="nav nav-pills flex-column" style="border-right: 2px solid #dadada; background-color: white;">
   <li class="nav-item" >
      <div class="nav-link" href="#" id="user-photo-holder"  >
        <img src="images/dane.jpg" id="user-photo">
        <br />
        <label style="font-family: verdana; font-size: 17px;">Welcome Admin</label>
<!--               window.maxHeight: {{maxHeight}}
                    <br />
window.windowHeight: {{windowHeight}}
                    <br />
                    window.windowWidth: {{windowWidth}} -->
      </div>
    </li>
    <li class="nav-item side-menu">
      <a class="nav-link" ng-class="{activated:isActivated('/')}" href="/#!/dashboard" style="border-bottom: 1px solid #e7e7e7; color: #06799f;">
        <i class="fa fa-home"></i><label class="cursor-pointer font-13-verdana" >DASHBOARD</label></a>
    </li>
    <li class="nav-item side-menu" ng-if="admin">
      <div class="nav-link cursor-pointer" href="#add-user" data-toggle="collapse" style="border-bottom: 1px solid #e7e7e7; color: #06799f;"><i class="fa fa-users"></i>
      <label class="cursor-pointer font-13-verdana"  >Managa User</label>
      <i class="fa fa-caret-down" style="float: right; margin-top: 5px; font-size: 18px;"></i>
      </div>
    </li>
    <li class="nav-item collapse" id="add-user" ng-if="admin">
      <a class="nav-link" ng-class="{activated:isActivated('/user/page/1')}" href="#!/user/page/1" style="border-bottom: 1px solid #e7e7e7; color: #06799f;">
        <i class="fa fa-angle-right" style="margin-left: 20px;"></i><i class="fa fa-user" style="margin-left: 10px;"></i>&nbsp;<label class="cursor-pointer font-13-verdana">Users</label>
      </a>
      <a class="nav-link" ng-class="{activated:isActivated('/add_user')}" href="#!/add_user"  style="border-bottom: 1px solid #e7e7e7; color: #06799f;">
        <i class="fa fa-angle-right" style="margin-left: 20px;"></i><i class="fa fa-user-plus" style="margin-left: 1"></i>&nbsp;<label class="cursor-pointer font-13-verdana">Add User</label>
      </a>
    </li>
    <li class="nav-item side-menu">
      <div class="nav-link cursor-pointer" href="#add-scholar" data-toggle="collapse" style="border-bottom: 1px solid #e7e7e7; color: #06799f;"><i class="fa fa-folder-open"></i>
        <label class="cursor-pointer font-13-verdana" >Manage Scholar</label>
        <i class="fa fa-caret-down"  style="float: right; margin-top: 5px;font-size: 18px;"></i>
      </div>
    </li>
    <li class="nav-item collapse" id="add-scholar" >
      <a class="nav-link" ng-class="{activated:isActivated('/scholar')}" href="#!/scholar" style="border-bottom: 1px solid #e7e7e7; color: #06799f; ">
        <i class="fa fa-angle-right" style="margin-left: 20px;"></i><i class="fa fa-graduation-cap" style="margin-left: 10px;"></i>&nbsp;<label class="cursor-pointer font-13-verdana">Scholars</label>
      </a>
      <a class="nav-link" ng-class="{activated:isActivated('/add_scholar')}" href="#!/add_scholar"  style="border-bottom: 1px solid #e7e7e7; color: #06799f;">
        <i class="fa fa-angle-right" style="margin-left: 20px;"></i><i class="fa fa-edit" style="margin-left: 10px;"></i>&nbsp;<label class="cursor-pointer font-13-verdana">Add Scholars</label>
      </a>
    </li>
    <li class="nav-item side-menu">
      <a class="nav-link cursor-pointer notePath" ng-class="{activated:isActivated('/notes')}" href="#!/notes" style="border-bottom: 1px solid #e7e7e7; color: #06799f;"><i class="fa fa-book"></i>
        <label class="cursor-pointer font-13-verdana" >Notes</label>
      </a>
    </li>
    <li class="nav-item side-menu">
      <div class="nav-link cursor-pointer" href="#application" data-toggle="collapse" style="border-bottom: 1px solid #e7e7e7; color: #06799f;"><i class="fa fa-address-card"></i>
        <label class="cursor-pointer font-13-verdana">Application</label>
        <i class="fa fa-caret-down" style="float: right; margin-top: 5px;font-size: 18px;"></i>
      </div>
    </li>
    <li class="nav-item collapse" id="application" >
      <a class="nav-link" ng-class="{activated:isActivated('/application')}" href="#!/application" style="border-bottom: 1px solid #e7e7e7; color: #06799f; ">
        <i class="fa fa-angle-right" style="margin-left: 20px;"></i><i class="fa fa-wpforms" style="margin-left: 10px;"></i>&nbsp;<label class="cursor-pointer font-13-verdana">Application Form</label>
      </a>
      <a class="nav-link" ng-class="{activated:isActivated('/application/applied_scholar')}" href="#!/application/applied_scholar" style="border-bottom: 1px solid #e7e7e7; color: #06799f;">
        <i class="fa fa-angle-right" style="margin-left: 20px;"></i><i class="fa fa-list-alt" style="margin-left: 10px;"></i>&nbsp;<label class="cursor-pointer font-13-verdana">Applied Scholar</label>
      </a>
    </li>
    <li class="nav-item side-menu" ng-if="admin">
      <a class="nav-link" ng-class="{activated:isActivated('/municipality_limit')}" href="#!/municipality_limit" style="border-bottom: 1px solid #e7e7e7; color: #06799f;">
        <i class="fa fa-briefcase"></i>&nbsp;<label class="cursor-pointer font-13-verdana" ng-style="collapseHide">Scholar Limit</label></a>
    </li>
    <li class="nav-item side-menu">
      <a class="nav-link" ng-class="{activated:isActivated('/add_school')}" href="#!/add_school" style="border-bottom: 1px solid #e7e7e7; color: #06799f;">
        <i class="fa fa-building"></i>&nbsp;<label class="cursor-pointer font-13-verdana" ng-style="collapseHide">Add School</label></a>
    </li>
    <li class="nav-item side-menu">
      <a class="nav-link" ng-class="{activated:isActivated('/reports')}" href="#!/reports" style="border-bottom: 1px solid #e7e7e7; color: #06799f;">
        <i class="fa fa-calendar"></i>&nbsp;<label class="cursor-pointer font-13-verdana" ng-style="collapseHide">Reports</label></a>
    </li>
  </ul>
</div>