<div class="row" style="height: 3em;"></div>
<div class="container-fluid" ng-controller="municipalMaxLimitCtrl as max">
<div class="row" >
    <div class="col-lg-12" >
        <h3 class="menu-header" style="color: #2aabc7;"><i class="fa fa-graduation-cap" style="font-size: 37px;"></i>Add maximum limit</h3>
     </div>
</div>
<div class="row" style="margin-bottom: 1em;">
  <div class="col-sm-6" style="background-color:whitesmoke;">
    <div class="row" style="background-color: whitesmoke; margin-top: 1em;">
      <div class="col-md-12" style="background-color: whitesmoke;">
        <ul class="list-group">
          <li class="list-group-item"" style="background-color: #e3e9ef;"></li>
          <li class="list-group-item">
        <form>
        <div class="form-group">
           <label class="black-label">Anini'y</label>
           <input type="text" ng-model="max.anniy" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Dao</label>
       <input type="text"  ng-model="max.dao" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Hamtic</label>
           <input type="text" ng-model="max.hamtic" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">San Jose</label>
          <input type="text" "  ng-model="max.sanjose" class="form-control" id="usr">
        </div>
        </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="col-sm-6" style="background-color:whitesmoke;">
    <div class="row" style="background-color: whitesmoke; margin-top: 1em;">
      <div class="col-md-12" style="background-color: whitesmoke;">
        <ul class="list-group">
          <li class="list-group-item"" style="background-color: #e3e9ef;"></li>
          <li class="list-group-item">
        <form>
        <div class="form-group" >
           <label class="black-label">Sibalom</label>
          <input type="text"  ng-model="max.sibalom" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Belison</label>
          <input type="text" ng-model="max.belison" class="form-control" id="usr">
        </div>
        <div class="form-group">
           <label class="black-label">Patnongon</label>
           <input type="text" ng-model="max.patnongon" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Bugasong</label>
           <input type="text"  ng-model="max.bugasong" class="form-control" id="usr">
        </div>
        </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="background-color:whitesmoke;">
    <div class="row" style="background-color: whitesmoke; margin-top: 1em;">
      <div class="col-md-12" style="background-color: whitesmoke;">
        <ul class="list-group">
          <li class="list-group-item"" style="background-color: #e3e9ef;"></li>
          <li class="list-group-item">
        <form>
        <div class="form-group" >
           <label class="black-label">Lau an</label>
          <input type="text" ng-model="max.lauan" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Barbaza</label>
          <input type="text" ng-model="max.barbaza" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Tibiao</label>
          <input type="text" ng-model="max.tibiao" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Culasi</label>
          <input type="text" ng-model="max.culasi" class="form-control" id="usr">
        </div>
        </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="background-color:whitesmoke;">
    <div class="row" style="background-color: whitesmoke; margin-top: 1em;">
      <div class="col-md-12" style="background-color: whitesmoke;">
        <ul class="list-group">
          <li class="list-group-item"" style="background-color: #e3e9ef;"></li>
          <li class="list-group-item">
        <form>
        <div class="form-group" >
           <label class="black-label">Sebaste</label>
          <input type="text" ng-model="max.sebaste" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Pandan</label>
           <input type="text" ng-model="max.pandan" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Libertad</label>
          <input type="text" ng-model="max.libertad" class="form-control" id="usr">
        </div>
        <div class="form-group" >
           <label class="black-label">Caluya</label>
          <input type="text" ng-model="max.caluya" class="form-control" id="usr">
        </div>
        </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="background-color: whitesmoke;">
    <ul class="list-group">
      <li class="list-group-item"  style="background-color: white; margin-top: 1em;">
        <div class="col-md-12">
          <button class="btn btn-primary col-md-12" ng-click = "max.addSubject()" style="background-color: #0097ae;">SAVE</button>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>