<style>

.num_indent
{
	margin-left: 5%;
}
.under_duties_and_responsibilities
{
	    margin-left: 6.8%;
}

.birthday{
	float: right;
	margin-right: 25%;
}
.civil_status
{
	float: right;
	margin-right: 26%;
}

.margin-5-per
{
	margin-left: 5%; 
}

</style>
<div class="row" style="height: 3em;"></div>
<div class="container" id="Form" ng-controller="viewStudentCtrl as view" >
<div class="col-md-12" ng-repeat="stud in view.viewData">
	<br />
	<div class="republic" style="text-align: center; font-family: Times New Roman;"><div>Republic of the Philippines</div>
		<div>Province of Antique</div>
			<strong>ISKOLAR KANG ANTIQUEÑO SCHOLARSHIP AGREEMENT</strong>
		<div>(Provincial Government Education Assistance Program)</div>
	</div>
	<form style="background-color: white;
	margin-top: 0.5%;
	width: 100%;
	height: 100%;
	float: left;">	
		<br />
		<label class="duties">Student ID no.:</label>
		<br />
		<label>Name of Scholar: {{ stud.firstname }} {{ stud.lastname }}</label>
		<label class="birthday">Date of Birth:</label>
		<br />
		<label>Residence Address:</label><label style="margin-left: 26.3%;">{{ stud.barangay }} {{ stud.municipality }}</label>
		<label class="civil_status">Civil status:</label><label style="margin-left: 26.3%;">{{ stud.civilStatus }}</label>
		<br />
		<label>Name of Parents:</label>
		<br />
		<label class="margin-5-per" >Father:</label><label style="margin-left: 26.3%;">: {{ stud.father }}</label>
		<br />
		<label class="margin-5-per">Mothers Maiden Name:</label><label style="margin-left: 15%;">: {{ stud.mother }}</label>
		<br />
		<label>Name of School where Enrolled:</label><label style="margin-left: 14.4%;">: {{ stud.school }}</label>
		<br />
		<label>Course and Year Level:</label><label style="margin-left: 20.8%;">: {{ stud.course }}</label>
		<br />
		<label>Applicable SY and Semester:</label><label style="margin-left: 17%;">: {{ stud.applicableSemester }}</label>
		<br />
		<label>Amount of Scholarship Assistance for on (1) Semester: -Amount of Scholarship</label><label class="mar-3-per">: PHP 5,000.00</label>
		<br />
		<label>Components of Assistance:</label>
		<br />
		<label class="num_indent" style="margin-left: 5%;">1. For payment of TuitionOther School Fees; and</label>
		<br />
		<label class="num_indent" style="margin-left: 5%;">2. For Stipend (Daily Allowance).</label>
		<br />
		<br />
		<div class="duties"><strong>DUTIES AND RESPONSIBILITIES OF THE SCHOLAR:</strong></div>
		<br />
		<div class="num_indent" style="margin-left: 5%;>1. Shall be a duly enrolled student of the school, in the course and for the school year and </div>
		<div class="under_duties_and_responsibilities" style="margin-left: 6.8%;">semester indicated above;</div>
		<div class="num_indent">2. Shall submit to the Office of the Governor - Administrative Division the Certificate of</div>
		<div class="under_duties_and_responsibilities" style="margin-left: 6.8%;">Registration Form or Registration From (RF), valid school identification card and Official</div>
		<div class="under_duties_and_responsibilities" style="margin-left: 6.8%;">Receipt for payment of tuition other/school fees;</div>
		<div class="num_indent" style="margin-left: 5%;">3. Shall submit to the Province the Report of Grades for the applicable semester.</div>
		<div class="num_indent" style="margin-left: 5%;">4. Shall obtain a passing grade on each subject at the end of the semester.</div>
		<br />
		<div class="duties"><strong>DUTIES AND RESPONSIBILITIES OF THE PROVINCE:</strong></div>
		<br />
		<div class="num_indent" style="margin-left: 5%;">1. Shall release the amount of Php 5,000.00 to the Scholar who cannot obtain a passing grade on each</div>
		<div class="under_duties_and_responsibilities">subject at the end of the semester.</div>
		<div class="num_indent" style="margin-left: 5%;">2. Shall terminate the scholarship grant of the Scholatr who cannot obtain the passing grade on each</div>
		<div class="under_duties_and_responsibilities" style="margin-left: 6.8%;> subject at the end of the semester</div>
		<br />
		<div class="num_indent">Signed this____________ of__________________,__________.</div>
		<br />
		<label class="signature" style="margin-left: 13%;">-Firstname MI Lastname</label><label>RHODORA J. CADIAO</label>
		<br />
		<label>Scholar</label><label>Governor</label>
		<br />
		<br />
		<div class="subscribed">SUBSCRIBED AND SWORN TO before me, this_______day of__________________,________by</div>
		<div class="under_subscribed">___________________and RHODORA J. CADIAO who exhibited to me their STUDEND I.D.</div>
		<div class="under_subscribed">NO.___________and Tax Identification No. 117-574-963 issued on Nov. 5, 1999 at San Jose de </div>
		<div class="under_subscribed">Buenavista, Province of Antique, Philippines respectively.</div>
		<br />
		<div class="under_subscribed">Doc. No.:________;</div>
		<div class="under_subscribed">Page No.:________;</div>
		<div class="under_subscribed">Book No.:________;</div>
		<div class="under_subscribed">Series of________.</div>
	</form>	
</div>
<div class="modal-footer onprint">
  <button type="button" class="btn btn-success" data-dismiss="modal" style="background-image: linear-gradient(200deg, #155799, #37b4d0); height: 35px;" ng-click="printForm()">Print</button>
  <button type="button" class="btn btn-danger" ng-click="view.BackToApplication()" style="height: 35px;">Close</button>
</div>
</div>