<div class="row" style="height: 3em;"></div>
<div class="container" ng-controller="reportCtrl as reports">
  <div class="row">
  <div class="col-lg-12" >
      <h3 class="menu-header" style="color: #2aabc7;"><i class="fa fa-user" style="font-size: 37px;"></i>&nbsp;REPORTS</h3>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <select class="form-control height-30px width-11em"  ng-model="reports.selectedMunicipality" ng-options="municipal as municipal.town_name for municipal in reports.municipalities track by municipal.town_id " ng-change="reports.filterMunicipality(reports.selectedMunicipality)" >
        </select>
    </div>
    </div>
  </div>
  <br />
  <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped" style="font-size: 15px; color: #333; font-size: 14px; font-family: Helvetica,Arial,sans-serif;" ng-hide="reports.scholarsTbl">
          <thead style="background-color: papayawhip; font-family: verdana;">
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Municipality</th>
              <th>School</th>
              <th>Course</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="report in reports.reportData">
              <td>{{report.lastname}},&nbsp;{{report.lastname}}&nbsp;{{report.middle_name}}</td>
              <td>{{report.barangay}}&nbsp;{{report.town_name}},&nbsp;Antique</td>
              <td>{{report.town_name}}</td>
              <td>{{report.school_name}}</td>
              <td>{{report.course}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>