<div class="container">
  <div class="row">
    <div class="col-md-12 header-background" >
      <img class="card-img-top2" src="images/pydo.png" >
      <p class="pydo">Provincial Youth Development Office</p>
    </div>
<!--     <div class="col-md-8" style="background-color: white; height: 80px;">

    </div> -->
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color: #37b4d0; height: 30px;">
        <i class="fa fa-home font-color-white" ng-if="dashboard"></i>
        <a href="#!/" class="font-color-white font-13px " ng-if="dashboard">Dashboard</a>
        <i class="fa fa-home font-color-white"></i>
        <a href="#!/home" class="font-color-white font-13px ">Home</a>
        <i class="fa fa-folder-open font-color-white margin-left-5em"></i>
        <a href="#!/dashboard" class="font-color-white font-13px">About Us</a>
        <i class="fa fa-book font-color-white margin-left-5em"></i>
        <a href="#!/home/updates" class="font-color-white font-13px">Updates</a>
        <i class="fa fa-user font-color-white margin-left-5em" ></i>
        <a href="#!/home/profile" class="font-color-white font-13px" >Profile</a>

        <label style="float: right; margin-right: 1em; margin-top: 5px;" class="font-color-white font-13px">
          <i class="fa fa-globe font-15px" ></i>&nbsp;12:35 pm</label>
    </div>
  </div>
</div>
<br />
<div class="container" ng-controller="studentProfileCtrl as profile">
    <div class="row">

    <div class="col-md-8" style="background-color: whitesmoke;">
      <div class="row">
        <div class="col-md-12" style="background-color: #dadbdc; margin-top: .1em; height: 45px;border-left: 5px solid #1da5c3;border-right: 5px solid #1da5c3;">
        </div>
          <div class="container">
            <div class="row" style="background-color: white; margin-top: .7em;">
              <div class="col-md-12">
                <h3 class="menu-header" style="color: #2aabc7;margin: 19px 0 15px;"><i class="fa fa-user" style="font-size: 36px;"></i>&nbsp;Personal Information</h3>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 margin-top-1em" style="background-color: white;box-shadow: 4px 4px 15px -11px;padding-top: 1em;">
                  <label class="verdana-bold">Name:</label>&nbsp;&nbsp;
                    <label>
                      {{ profile.firstname }}&nbsp;{{ profile.lastname}}
                    </label>
                  <br />
                  <label class="verdana-bold">Middle Name:</label>&nbsp;&nbsp;
                    <label>{{ profile.middle_name }}</label>
                  <br />
                  <label class="verdana-bold">Gender:</label>&nbsp;&nbsp;
                    <label>{{ profile.gender }}</label>
                  <br />
                  <label class="verdana-bold">Age:</label>&nbsp;&nbsp;
                    <label>{{ profile.age }}</label>
                  <br />
                  <label class="verdana-bold">Address</label>&nbsp;&nbsp;
                    <label>{{ profile.barangay }}&nbsp;&nbsp;{{ profile.town_name }}</label>
                  <br />
                  <label class="verdana-bold">Religion:</label>&nbsp;&nbsp;<label>{{ profile.religion }}</label>
                </div>
                <div class="col-md-6 margin-top-1em" style="background-color: white;box-shadow: 4px 4px 15px -11px;padding-top: 1em;">
                    <label class="verdana-bold">Date of Birth:</label>&nbsp;&nbsp;
                      <label>{{ profile.date_of_birth }}</label>
                    <br />
                    <label class="verdana-bold">Civil Status:</label>&nbsp;&nbsp;
                      <label>{{ profile.civil_status }}</label>
                    <br />
                    <label class="verdana-bold">Contact_no:</label>&nbsp;&nbsp;
                      <label>{{ profile.contact_no }}</label>
                    <br />
                    <label class="verdana-bold">School.</label>&nbsp;&nbsp;
                      <label>{{ profile.school_name }}</label>
                </div>

                <div class="col-md-12 margin-top-1em" style="background-color: white;box-shadow: 4px 4px 15px -11px;margin-bottom: 1em;">
                    <h3 class="menu-header" style="color: #2aabc7;margin: 19px 0 15px;">School</h3>
                    <label class="verdana-bold">Course:</label>&nbsp;&nbsp;
                      <label>{{ profile.course }}</label>
                    <br />
                    <label class="verdana-bold">Year:</label>&nbsp;&nbsp;
                      <label>{{ profile.college_year_name }}&nbsp;year</label>
                    <br />
                    <label class="verdana-bold">Semester:</label>&nbsp;&nbsp;
                      <label>{{ profile.semesters_name }}</label>
                    <br />
                    <label class="verdana-bold">Academic Year:</label>&nbsp;&nbsp;
                      <label>{{ profile.academic_year }}</label>
                    <br />
                    <label class="verdana-bold">ID Number:</label>&nbsp;&nbsp;
                      <label>{{ profile.student_id_number }}</label>
                </div>

               <div class="col-md-12 margin-top-1em" style="background-color: white;box-shadow: 4px 4px 15px -11px;margin-bottom: 1em;">
                    <label class="verdana-bold">Spouse:</label>&nbsp;&nbsp;
                      <label>{{ profile.spouse }}</label>
                    <br />
                    <label class="verdana-bold">Father:</label>&nbsp;&nbsp;
                      <label>{{ profile.father }}</label>
                    <br />
                    <label class="verdana-bold">Mother:</label>&nbsp;&nbsp;
                      <label>{{ profile.mother }}</label>
                    <br />
                </div>

                <div class="col-md-12 margin-top-1em" style="background-color: white;box-shadow: 4px 4px 15px -11px;margin-bottom: 1em;">
                  <ul class="list-group" style="margin-top: 1em;margin-bottom: 1em;">
                    <div class="col-md-12">
                      <button class="btn btn-success btn-md max-height-2-2em" ng-click="profile.printForm()" ng-disabled="profile.download">
                        <label class="login-label" >Download</label>
                      </button> 
                    </div>
                  </ul>
                </div>
            </div>
      </div>
      </div>
    </div>
    <div class="col-md-4" style="background-color: whitesmoke;">
        <ul class="list-group">
          <li class="list-group-item">
            <button class="max-width-48px margin-left-1em">
              <img src="images/fb.png" class="col-md-12 max-width-57px-padding-0">
            </button>
            <button class="max-width-48px">
              <img src="images/twitter.png" class="col-md-12 max-width-57px-padding-0">
            </button>
            <button class="max-width-48px">
              <img src="images/gmail.png" class="col-md-12 max-width-57px-padding-0">
            </button>
            <button class="max-width-48px">
              <img src="images/youtube.png" class="col-md-12 max-width-57px-padding-0">
            </button>
            <button class="max-width-48px">
              <img src="images/linkendin.png" class="col-md-12 max-width-57px-padding-0">
            </button>
          </li>
        </ul>
        <ul class="list-group" style="margin-top: 7px; border-radius: 0px;">
          <li class="list-group-item" style="border-radius: 0px;height: 45px;background-color: whitesmoke;border-left: 5px solid #1da5c3;
    border-right: 5px solid #1da5c3;">
             Gallery
          </li>
          <div class="col-md-12" style="padding: 0;">
          <li class="list-group-item" style="border-radius: 0px; height: 65px;">
            <img src="images/dane.jpg" class="col-md-12 gallery">
            <div class="col-md-12 font-13px">{{ profile.applied_name }}</div>
            <div class="col-md-12 font-13px">{{ profile.school_name }}</div>
          </li>
          </div>
        </ul>

        <ul class="list-group" style="margin-top: 7px; border-radius: 0px;">
          <li class="list-group-item" style="border-radius: 0px;height: 45px; background-color: whitesmoke;border-left: 5px solid #1da5c3;
    border-right: 5px solid #1da5c3;">
            <label>Video</label>
          </li>
          <li class="list-group-item" style="border-radius: 0px; ">
            <div class="row">
              <video src="images/samplevid.mp4" autoplay="loop" controls  class="col-md-12" style="height: 175px;"></video>
            </div>
          </li>
        </ul>

        <ul class="list-group" style="margin-top: 7px; border-radius: 0px;">
          <li class="list-group-item" style="border-radius: 0px;height: 30px; background-color: #e7eef1;border-left: 2px solid #1da5c3;
    border-right: 2px solid #1da5c3;">
          </li>
          <li class="list-group-item" style="border-radius: 0px; ">
            <div class="row">
              <div class="col-md-12">
                <a href="#!/home/application" class="btn btn-success btn-md max-height-2-2em" >
                  <label class="login-label" >Apply</label>
                </a>
              </div>
            </div>
          </li>
        </ul>
    </div>

  </div>
</div>