<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item cursor-pointer" >
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(1)}" ng-click="applied.selectedTown(1)" data-target="#aniniy" ng-if="applied.tabSelected(1)">Anini'y</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(2)}" ng-click="applied.selectedTown(2)" data-target="#dao" ng-if="applied.tabSelected(2)">Dao</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(3)}" ng-click="applied.selectedTown(3)" data-target="#hamtic" ng-if="applied.tabSelected(3)">Hamtic</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(4)}" ng-click="applied.selectedTown(4)" data-target="#sanjose" ng-if="applied.tabSelected(4)">San Jose</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(5)}" ng-click="applied.selectedTown(5)" data-target="#sibalom" ng-if="applied.tabSelected(5)">Sibalom</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(6)}" ng-click="applied.selectedTown(6)" data-target="#belison" ng-if="applied.tabSelected(6)">Belison</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(7)}" ng-click="applied.selectedTown(7)" data-target="#patnongon" ng-if="applied.tabSelected(7)">Patnongon</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(8)}" ng-click="applied.selectedTown(8)" data-target="#bugasong" ng-if="applied.tabSelected(8)">Bugasong</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(9)}" ng-click="applied.selectedTown(9)" data-target="#lauan" ng-if="applied.tabSelected(9)">Lauan</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(10)}" ng-click="applied.selectedTown(10)" data-target="#barbaza" ng-if="applied.tabSelected(10)">Barbaza</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(11)}" ng-click="applied.selectedTown(11)" data-target="#tibiao" ng-if="applied.tabSelected(11)">Tibiao</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(12)}" ng-click="applied.selectedTown(12)" data-target="#culasi" ng-if="applied.tabSelected(12)">Culasi</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(13)}" ng-click="applied.selectedTown(13)" data-target="#sebaste" ng-if="applied.tabSelected(13)">Sebaste</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(14)}" ng-click="applied.selectedTown(14)" data-target="#pandan" ng-if="applied.tabSelected(14)">Pandan</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(15)}" ng-click="applied.selectedTown(15)" data-target="#libertad" ng-if="applied.tabSelected(15)">Libertad</a>
  </li>
  <li class="nav-item cursor-pointer">
    <a class="nav-link cursor-pointer" ng-class="{tabActive: applied.isSelected(16)}" ng-click="applied.selectedTown(16)" data-target="#caluya" ng-if="applied.tabSelected(16)">Caluya</a>
  </li>
</ul>