<div class="container">
  <div class="row">
    <div class="col-md-12 header-background" >
      <img class="card-img-top2" src="images/pydo.png" >
      <p class="pydo">Provincial Youth Development Office</p>
    </div>
<!--     <div class="col-md-8" style="background-color: white; height: 80px;">

    </div> -->
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color: #37b4d0; height: 30px;">
        <i class="fa fa-home font-color-white"></i>
        <a href="/#!/dashboard" class="font-color-white font-13px ">Dashboard</a>
        <i class="fa fa-home font-color-white"></i>
        <a href="/#!/home" class="font-color-white font-13px ">Home</a>
        <i class="fa fa-folder-open font-color-white margin-left-5em"></i>
        <a href="/#!/dashboard" class="font-color-white font-13px">About Us</a>
        <i class="fa fa-book font-color-white margin-left-5em"></i>
        <a href="/#!/home/updates" class="font-color-white font-13px">Updates</a>
        <i class="fa fa-user font-color-white margin-left-5em"></i>
        <a href="/#!/home/profile" class="font-color-white font-13px">Profile</a>

        <label style="float: right; margin-right: 1em; margin-top: 5px;" class="font-color-white font-13px">
          <i class="fa fa-globe font-15px" ></i>&nbsp;12:35 pm</label>
    </div>
  </div>
</div>
<br />
<div class="container">
    <div class="row">

    <div class="col-md-8" style="background-color: whitesmoke;">
      <div class="row">
        <div class="col-md-12" style="background-color: #dadbdc; margin-top: .1em; height: 45px;border-left: 5px solid #1da5c3;border-right: 5px solid #1da5c3;">
        </div>
          <div class="container">
            <div class="row">
                <div class="col-md-12 margin-top-1em" style="background-color: white;box-shadow: 4px 4px 15px -11px;">
                  <h5 class="w3-opacity margin-top-1em"><i class="fa fa-globe" style="color: teal; font-size: 37px;"></i>
                  &nbsp;<b>Application Date for new Scholars</b></h5>
                  <h6><i class="fa fa-calendar color-teal w3-margin-right"></i>May 25 2018 -
                   <span class="w3-tag w3-teal w3-round">Latest</span>
                  </h6>
                     <p>To all Students who are willing to apply for pydo sholars can also print application form through online just click login/application and then fill up the form then save. it will save your details to our database for scholarship listing and print the copy of application form. Just bring with you the application and other requirements to us to process not later than May 25, 2018.</p>
                  <!-- <img src="images/yeoman.png" class="col-md-12" style="min-width: 50%; max-width: 100%; margin-bottom: 1em;"> -->
                </div>
                <div class="col-md-12 margin-top-1em" style="background-color: white;box-shadow: 4px 4px 15px -11px;margin-bottom: 1em;">
                  <h5 class="w3-opacity margin-top-1em"><i class="fa fa-globe" style="color: teal; font-size: 37px;"></i>
                  &nbsp;<b>Application Date for new Scholars</b></h5>
                  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 25 2018 -
                   <span class="w3-tag w3-teal w3-round">Latest</span>
                  </h6>
                     <p>To all Students who are willing to apply for pydo sholars can also print application form through online just click login/application and then fill up the form then save. it will save your details to our database for scholarship listing and print the copy of application form. Just bring with you the application and other requirements to us to process not later than May 25, 2018.</p>
                  <img src="images/test.jpeg" class="col-md-12" style="min-width: 50%; max-width: 100%; margin-bottom: 1em;">
                </div>
                <div class="col-md-4" style="padding: 0;">
                  <img src="images/pydo1.jpg" class="col-md-12" style="height: 240px;padding-top: 1em;">
                </div>
                <div class="col-md-4" style="padding: 0;">
                  <img src="images/pydo3.jpg" class="col-md-12" style="height: 240px;padding-top: 1em;">
                </div>
                 <div class="col-md-4" style="padding: 0;">
                  <img src="images/pydo4.jpg" class="col-md-12" style="height: 240px;padding-top: 1em;">
                </div>
            </div>
      </div>
      </div>
    </div>
    <div class="col-md-4" style="background-color: whitesmoke;">
        <ul class="list-group">
          <li class="list-group-item">
            <button class="max-width-48px margin-left-1em">
              <img src="images/fb.png" class="col-md-12 max-width-57px-padding-0">
            </button>
            <button class="max-width-48px">
              <img src="images/twitter.png" class="col-md-12 max-width-57px-padding-0">
            </button>
            <button class="max-width-48px">
              <img src="images/gmail.png" class="col-md-12 max-width-57px-padding-0">
            </button>
            <button class="max-width-48px">
              <img src="images/youtube.png" class="col-md-12 max-width-57px-padding-0">
            </button>
            <button class="max-width-48px">
              <img src="images/linkendin.png" class="col-md-12 max-width-57px-padding-0">
            </button>
          </li>
        </ul>
        <ul class="list-group" style="margin-top: 7px; border-radius: 0px;">
          <li class="list-group-item" style="border-radius: 0px;height: 45px;background-color: whitesmoke;border-left: 5px solid #1da5c3;
    border-right: 5px solid #1da5c3;">
             Gallery
          </li>
          <div class="col-md-12" style="padding: 0;overflow: auto;min-height: 193px;max-height: 195px;">
          <li class="list-group-item" style="border-radius: 0px; height: 65px;">
            <img src="images/test.jpeg" class="col-md-12 gallery">
           <div class="col-md-12 font-13px">Rocky Roads</div>
           <div class="col-md-12 font-13px">12:00 pm</div>
          </li>
          <li class="list-group-item" style="border-radius: 0px;height: 65px;">
            <img src="images/test.jpeg" class="col-md-12 gallery">
           <div class="col-md-12 font-13px">Rocky Roads</div>
           <div class="col-md-12 font-13px">12:00 pm</div>
          </li>
          <li class="list-group-item" style="border-radius: 0px;height: 65px;">
            <img src="images/test.jpeg" class="col-md-12 gallery">
           <div class="col-md-12 font-13px">Rocky Roads</div>
           <div class="col-md-12 font-13px">12:00 pm</div>
          </li>
          </div>
        </ul>

        <ul class="list-group" style="margin-top: 7px; border-radius: 0px;">
          <li class="list-group-item" style="border-radius: 0px;height: 45px; background-color: whitesmoke;border-left: 5px solid #1da5c3;
    border-right: 5px solid #1da5c3;">
            <label>Video</label>
          </li>
          <li class="list-group-item" style="border-radius: 0px; ">
            <div class="row">
              <video src="images/samplevid.mp4" autoplay="loop" class="col-md-12" style="height: 175px;"></video>
            </div>
          </li>
        </ul>

        <ul class="list-group" style="margin-top: 7px; border-radius: 0px;">
          <li class="list-group-item" style="border-radius: 0px;height: 30px; background-color: #e7eef1;border-left: 2px solid #1da5c3;
    border-right: 2px solid #1da5c3;">
          </li>
          <li class="list-group-item" style="border-radius: 0px; ">
            <h3 class="home-h3">login</h3>
            <div class="row">
              <div class="col-md-12">
                <label class="normal-label">Username:</label>
                <input type="text" class="form-control" >
                <label class="normal-label">Password:</label>
                <input type="text" class="form-control" >
                <button class="btn btn-success btn-md max-height-2-2em" style="margin-top: 1em;margin-bottom: .1em;">
                  <img src="images/login.png" style="width: 30px; margin-top: -8px;margin-left: -23px;">
                  <label class="login-label">Login</label>
                </button>
              </div>
              <div class="col-md-12">
                <br />
                No account?
                <a href="">Register here</a>
              </div>
            </div>
          </li>
        </ul>
    </div>

  </div>
</div>