<div class="row height-3em" ></div>
<div class="container-fluid padding-0" ng-controller="userCtrl as uctrl">
  <div class="row">
  <div class="col-lg-12" >
      <h3 class="menu-header" style="color: #2aabc7;"><i class="fa fa-user" style="font-size: 37px;"></i>&nbsp;USERS</h3>
      <button type="button" class="btn btn-success btn-sm" id="add" style="background-image: linear-gradient(200deg, #155799, #37b4d0);"><i class="fa fa-user-plus"></i>
      <label style="font-family: cooper;">ADD</label></button>
  </div>
  </div>
  <div class="row">
    <div class="col-md-3" >
      <div class="form-group">
      <select class="form-control height-30px width-11em"  ng-model="uctrl.selectedMunicipality" ng-options="municipal as municipal.town_name for municipal in uctrl.municipalities track by municipal.town_id " ng-change="uctrl.filterMunicipality(uctrl.selectedMunicipality)" >
      </select>
      </div>
    </div>
    <div class="col-md-12">
      <ul class="list-group">
      <li class="list-group-item" style="background-color: #e3e9ef;">
        list of users
      </li>
      <li class="list-group-item">
          <div class="row" style=" margin-top: 1em;">
          </div>
          <div class="row" >
                <div class="col-md-2">
                  <div class="form-group">
                    <select class="form-control" ng-change="uctrl.statusChange(search_user.status)" ng-model="search_user.status" style="height: 30px;">
                      <option value="">All Status</option>
                      <option value="active" ng-model="search_user.status">Active</option>
                      <option value="disabled" ng-model="search_user.status">Disabled</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                <form>
                  <div class="form-group" style=" margin-bottom: 0em;"">
                    <input type="radio" class="cursor-pointer" ng-model="search_user.user_access" checked>
                      <label style="color: #047da5;">All</label>&nbsp;
                    <input type="radio" class="cursor-pointer" name="optradio" ng-model="search_user.user_access" value="admin" >
                      <label style="color: #14b5b5;">Admin</label>&nbsp;
                    <input type="radio" class="cursor-pointer"  name="optradio" ng-model="search_user.user_access" value="user">
                      <label style="color: #c82333;">User</label> 
                  </div>
                </form>
              </div>
                <div class="col-md-3" style="padding-right: 2px;">
                </div>
                <div class="col-md-4" >
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search"  ng-model="search_user.userSearch" style="float: left; width: 80%; border-top-right-radius: 0px; border-bottom-right-radius: 0px; ">
                    <button class="btn btn-success" style="height: 31px !important;border-bottom-left-radius: 0px !important; border-top-left-radius: 0px  !important; background-color: #2d97bf;">
                      <i class="fa fa-search" style="position: relative;top: -4px;"></i>
                    </button>
                  </div>
                </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" >
      <div class="col-lg-12" >
          <ul class="list-group" style="margin-top: 7px;">
            <li class="list-group-item" ><!-- 
              <input type="checkbox" id="checkbox-delete" ng-model="uctrl.selectAll" ng-click="uctrl.checkAll()" style="margin-left: -10px;"> -->
              <button class="btn btn-success btn-sm" id="delete-user" ng-click="uctrl.deleteAll()"><i class="fa fa-trash delete-icon"></i>&nbsp;
                <label class="cursor-pointer" style="margin-left: -7px;">Delete</label>
              </button>
            </li>
            <li class="list-group-item" style="overflow-x: auto; overflow-y: hidden; padding: 5px;">
              <img src="images/cube.gif" class="loading-gif" ng-hide="uctrl.loading">
                <table class="table table-bordered table-hover table-striped" style="color: #333; font-size: 13px; font-family: Helvetica,Arial,sans-serif;" ng-hide="uctrl.userTable">
                  <thead style="color:#f1f1f1; font-family: verdana; background-image: linear-gradient(200deg, #155799bf, #37b4d0);">
                    <tr>
                      <th><input type="checkbox" id="checkbox-delete" ng-model="uctrl.selectAll" ng-click="uctrl.checkAll()" ></th>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>username</th>
                      <th>password</th>
                      <th>gender</th>
                      <th>contact_no</th>
                      <th>position</th>
                      <th>municipality</th>
                      <th>Access Type</th>
                      <th>Date Created</th>
                      <th class="text-align-center">status</th>
                      <th class="text-align-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in uctrl.users | filter:search_user">
                      <td><input type="checkbox" ng-model="user.selected" ng-checked="uctrl.exist(user)" ng-click="uctrl.toggle(user)"></td>
                      <td class="min-width-145px">{{user.firstname}}</td>
                      <td class="min-width-145px">{{user.lastname}}</td>
                      <td class="min-width-145px">{{user.username}}</td>
                      <td class="min-width-145px">{{user.password}}</td>
                      <td>{{user.gender}}</td>
                      <td>{{user.contact_no}}</td>
                      <td class="min-width-145px">{{user.position_level}}</td>
                      <td class="min-width-145px">{{user.town_name}}</td>
                      <td class="min-width-145px">{{user.access_type}}</td>
                      <td class="min-width-145px">{{user.created_at}}</td>
                      <td class="text-align-center">
                        <label id="status" color-status status="{{user.statusId}}" ng-model="(user.statusId)" style=" font-family: cooper; text-align: center; border-radius: 10px; margin-bottom: .0rem; ">
                        </label>
                      </td>
                      <td style="min-width: 140px; max-width: 100%; text-align: center;">
                      <button class="btn btn-default btn-sm" ng-click="uctrl.location($index, user)" style="line-height: 1.2; padding: .2rem .5rem; font-size: 12px;" >
                        View
                      </button>&nbsp;&nbsp;
                      <button class="btn btn-success btn-sm button-edit" >
                        <i class="fa fa-check" style="margin-left:-5px;"></i>
                      </button>
                      <button class="btn btn-danger btn-sm button-delete" ng-click="uctrl.deleteUser(user)" >
                        <i class="fa fa-times delete-icon"></i>
                        <label style="line-height: 0.1; margin-left: 3px; margin-bottom: .1rem;"></label>
                      </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </li>
          </ul>
      </div>

      <div class="col-lg-12" style="position: relative; top: 10px; font-family: verdana;">
         <ul class="pagination pagination-sm" >
            <li class="page-item"><a class="page-link" id="prev" ng-click="uctrl.previousPage()">Prev</a></li>
            <li class="page-item"  ng-repeat="page in uctrl.numberOfPage()"><a class="page-link" href="#!/user/page/{{page}}" >{{page}}</a></li>
            <li class="page-item"><a class="page-link" id="next" ng-click="uctrl.nextPage()">Next</a></li>
          </ul>
      </div>

    </div>
  </div>
</div>