<div class="row" style="height: 3em;"></div>
<div class="container-fluid" ng-controller="viewUserCtrl as view">
  <div class="row">
    <div class="col-lg-3 col-md-3 " style="padding-right: 2em;">
      <div class="card" style="margin-top: 2em;">
      <img src="images/dane.jpg" alt="Card image" style="width:100%; height: 50%; border: 1px solid whitesmoke;padding: 3px;">
      <div class="card-body padding-7px">
        <label class="btn btn-info btn-sm form-control" >{{ view.accessType }}</label>
      </div>
    </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12" >
        <h3 class="menu-header" style="color: #2aabc7;"><i class="fa fa-user" style="font-size: 36px;"></i>&nbsp;User Information</h3>
        <label class="verdana-bold color-2aabc7 font-17px">Name:</label>&nbsp;&nbsp;<label>
          {{ view.firstname }}{{ view.lastname }}
        </label>
        <br />
        <label class="verdana-bold color-2aabc7 font-17px">Username:</label>&nbsp;&nbsp;<label>{{ view.username }}</label>
        <br />
        <label class="verdana-bold color-2aabc7 font-17px">Position:</label>&nbsp;&nbsp;<label>{{ view.position }}</label>
        <br />
        <label class="verdana-bold color-2aabc7 font-17px">Contact no.</label>&nbsp;&nbsp;<label>{{ view.contact_no }}</label>
        <br />
    </div>
      <div class="col-lg-4 col-md-4 col-sm-12" >
        <h3 class="menu-header" style="color: #2aabc7; margin-top: 2.7em;"></h3>
        <label class="verdana-bold color-2aabc7 font-17px">Gender:</label>&nbsp;&nbsp;<label>{{ view.gender }}</label>
        <br />
        <label class="verdana-bold color-2aabc7 font-17px">Municipality:</label>&nbsp;&nbsp;<label>{{ view.municipality }}</label>
        <br />
        <label class="verdana-bold color-2aabc7 font-17px">Access Type:</label>&nbsp;&nbsp;<label>{{ view.accessType }}</label>
        <br />
        <label class="verdana-bold color-2aabc7 font-17px">User Status:</label>&nbsp;&nbsp;<label>{{ view.status }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 margin-top-5em" >
      <h6 class="menu-header" style="color: #2aabc7; margin-bottom: .7em;">Important Notice</h6>
      <p>This information is certified validated by the Adminastrator</p>
    </div>
  </div>
    <div class="row" style="height: 5em;"></div>

</div>
</div>
</div>